body {
    background-image: url("/assets/bg-adotapet.jpg");
    margin: 0;
    padding: 0;
}

.custom-header{
    display: flex;
    justify-content: space-around;
    background-color: #cde0bf;
    padding: 10px;
    font-size: 16px;
}

.custom-header a{
    margin: 0 20px;
}

.custom-nav-link {
    text-decoration: none;
    color: #666163;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 600;
}

.custom-nav-link:hover {
    color: #79aa55;
    cursor: pointer;
}

.container-home {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 40px auto;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(2px);
}

.preview-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.container-home h1 {
    color: #666163;
    text-align: center;
    font-size: 26px;
    font-family:'Gill Sans MT', sans-serif;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #666163;
    font-family:'Gill Sans MT', sans-serif;
}

.input-container input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 8px;
    font-size: 14px;
    outline-color: #666163;
    border: 1px solid #cde0bf;
    resize: vertical;
    padding: 5px;
    font-family:'Gill Sans', sans-serif;
}

.input-container select, select option {
    font-family: 'Gill Sans', sans-serif;
    color: #666163;
}

.input-container input[type="color"] {
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    width: 15%;
}

.input-container textarea {
    height: auto;
}

.row-form {
    display: flex;
    justify-content: space-between;
}

.flex-45 {
    flex-basis: 45%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-submit {
    width: 100px;
    margin-top: 10px;
    border-radius: 8px;
    color: #cde0bf;
    background-color: #666163;
    font-size: 16px;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 600;
}

.button-submit:hover {
    background-color: #cde0bf;
    color: #666163;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.error-border{
    border: 2px solid red !important;
}

@media (max-width: 800px) {

    .form-row {
        flex-direction: column;
    }

    .container-home {
        width: 90%;
    }
}

/* CSS da tela Listagem Pets */
h1 {
    color: #666163;
    text-align: center;
    font-size: 26px;
    font-family:'Gill Sans MT', sans-serif;
}

.container-pets {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-family:'Gill Sans MT', sans-serif;
    color: #666163;
    padding: 0 20px;
}

.img-pet {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
}

.item-pet {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    border: 1px solid #666163;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-botoes {
    display: flex;
    gap: 5px;
}

.button-del {
    width: 100px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    color: #cde0bf;
    background-color: #8e1f1f;
    font-size: 16px;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 600;
}

.button-del:hover {
    background-color: #b40a0a;
    color: #ffffff;
    cursor: pointer;
}

/* CSS da tela detalhes */


.espaco-cor {
    display: inline-block; 
    width: 30px; 
    height: auto;
    border-radius: 50%;
}

.custom-image {
    width: 100%;
    height: 200px;
    max-width: 200px; 
    object-fit: cover;
}

.custom-font-family {
    font-family:'Gill Sans MT', sans-serif;
}
